@import "spacers"

html, body
  height: 100%

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

.kso-navbar
  height: 75px !important
  padding-top: 25px !important
  -webkit-app-region: drag

#App
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none
  cursor: default

  /* Smoother startup */
  animation: fadein 0.5s



.kso-tab
  padding: 10px
  background-color: #D8E1E8
  transition: background-color 0.2s ease
  display: flex
  flex-direction: row
  align-items: center

  &:hover
    background-color: #EBF1F5

  &.active
    background-color: #F5F8FA
    border-right: 8px solid
    border-right-color: #137CBD

